@{
    ViewBag.Title = "MaintenanceIndex";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Maintenance.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


<style>
    input {
        background: #FFFFEE;
    }

    .red {
        background-color: red;
    }
</style>
<section class="section">

    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Maintenance</h5>


                    <!-- Floating Labels Form -->

                    <form class="row g-3">

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input id="hdnId" type="hidden" />
                                <select type="text" class="form-control" id="txtFlatNo"></select>
                                <label for="FlatNo Title">Flat No</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="txtAmount" placeholder="Resolved By">
                                <label for="floatingResolved By">Amount</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-control" id="txtMonth">
                                    <option selected value=''>Select Month</option>
                                    <option value='January'>January</option>
                                    <option value='February'>February</option>
                                    <option value='March'>March</option>
                                    <option value='April'>April</option>
                                    <option value='May'>May</option>
                                    <option value='June'>June</option>
                                    <option value='July'>July</option>
                                    <option value='August'>August</option>
                                    <option value='September'>September</option>
                                    <option value='October'>October</option>
                                    <option value='November'>November</option>
                                    <option value='December'>December</option>
                                </select>
                                <label for="PaidAmount">Month</label>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-control" id="txtYear">
                                    <option selected value=''>Select Year</option>
                                    <option value='2021'>2021</option>
                                    <option value='2022'>2022</option>
                                    <option value='2023'>2023</option>
                                    <option value='2024'>2024</option>
                                    <option value='2025'>2025</option>
                                    <option value='2026'>2026</option>
                                    <option value='2027'>2027</option>
                                    <option value='2028'>2028</option>
                                    <option value='2029'>2029</option>
                                    <option value='2030'>2030</option>
                                    <option value='2031'>2031</option>
                                    <option value='2032'>2032</option>
                                </select>
                                <label for="PaidAmount">Year</label>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-control" id="txtPaymentMode">
                                    <option value="">Select Payment Method</option>
                                    <option value="Cash">Cash</option>
                                    <option value="Cheque">Cheque</option>
                                    <option value="DD">DD</option>
                                    <option value="NEFT">NEFT</option>
                                    <option value="RTGS">RTGS</option>
                                    <option value="IMPS">IMPS</option>
                                    <option value="UPI">UPI</option>
                                    <option value="Net Banking">Net Banking</option>
                                    <option value="Debit Card">Debit Card</option>
                                    <option value="Credit Card">Credit Card</option>
                                    <option value="PhonePe">PhonePe</option>
                                    <option value="GooglePay">GooglePay</option>
                                    <option value="Paytm">Paytm</option>
                                    <option value="Paypal">Paypal</option>
                                </select>
                                <label for="PaidAmount">Payment Mode</label>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="txtTransaction" placeholder="Resolved By">
                                <label for="floatingResolved By">Transaction No</label>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-floating mb-4">
                                <input type="file" class="form-control" id="txtReceipt" placeholder="Resolved By">
                                <label for="floatingResolved By">Receipt</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="txtPaidDate" placeholder="Resolved By">
                                <label for="floatingResolved By">Paid Date</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="txtDueDate" placeholder="Resolved By">
                                <label for="floatingResolved By">Due Date</label>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" onclick="SaveMaintenace()">Submit</button>
                            <button type="reset" class="btn btn-warning">Reset</button>
                        </div>


                    </form><!-- End floating Labels Form -->
                </div>

            </div>
        </div>
        <div class="col-lg-6">
            @*<div class="col-lg-6">
                    <select class="form-control" onchange="MonthChangeEvent()" id="txtMonth1">
                        <option selected value=''>Select Month</option>
                        <option value='January'>January</option>
                        <option value='February'>February</option>
                        <option value='March'>March</option>
                        <option value='April'>April</option>
                        <option value='May'>May</option>
                        <option value='June'>June</option>
                        <option value='July'>July</option>
                        <option value='August'>August</option>
                        <option value='September'>September</option>
                        <option value='October'>October</option>
                        <option value='November'>November</option>
                        <option value='December'>December</option>
                    </select>

                </div>


                <div class="col-lg-6">
                    <select class="form-control" onchange="yearchangeenven()" id="txtYear1">
                        <option selected value=''>Select Year</option>
                        <option value='2021'>2021</option>
                        <option value='2022'>2022</option>
                        <option value='2023'>2023</option>
                        <option value='2024'>2024</option>
                        <option value='2025'>2025</option>
                        <option value='2026'>2026</option>
                        <option value='2027'>2027</option>
                        <option value='2028'>2028</option>
                        <option value='2029'>2029</option>
                        <option value='2030'>2030</option>
                        <option value='2031'>2031</option>
                        <option value='2032'>2032</option>
                    </select>
                </div>*@


            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <div class="row">
                        <div class="col-lg-6">
                            <select class="form-control" onchange="MonthChangeEvent()" id="txtMonth1">
                                <option selected value=''>Select Month</option>
                                <option value='January'>January</option>
                                <option value='February'>February</option>
                                <option value='March'>March</option>
                                <option value='April'>April</option>
                                <option value='May'>May</option>
                                <option value='June'>June</option>
                                <option value='July'>July</option>
                                <option value='August'>August</option>
                                <option value='September'>September</option>
                                <option value='October'>October</option>
                                <option value='November'>November</option>
                                <option value='December'>December</option>
                            </select>

                        </div>


                        <div class="col-lg-6">
                            <select class="form-control" onchange="yearchangeenven()" id="txtYear1">
                                <option selected value=''>Select Year</option>
                                <option value='2021'>2021</option>
                                <option value='2022'>2022</option>
                                <option value='2023'>2023</option>
                                <option value='2024'>2024</option>
                                <option value='2025'>2025</option>
                                <option value='2026'>2026</option>
                                <option value='2027'>2027</option>
                                <option value='2028'>2028</option>
                                <option value='2029'>2029</option>
                                <option value='2030'>2030</option>
                                <option value='2031'>2031</option>
                                <option value='2032'>2032</option>
                            </select>
                        </div>

                    </div>
                    <hr />


                    <div class="table-responsive">
                        <b>  <span id="lblamount"></span></b>
                        <br />
                        <br />

                        <table id="tblMaintenance" class="table table-bordered table-hover">
                            <thead class="text-white bg-dark">
                                <tr>
                                    @*<td class="text-white bg-dark">ID</td>*@
                                    <td class="text-white bg-dark">Flat No.</td>
                                    <td class="text-white bg-dark">Month</td>
                                    <td class="text-white bg-dark">Year</td>
                                    <td class="text-white bg-dark">Amount</td>
                                    @*<td class="text-white bg-dark">Email</td>*@
                                    @*<td class="text-white bg-dark">Password</td>*@
                                    @*<td class="text-white bg-dark">Transaction No</td>*@
                                    <td class="text-white bg-dark">Payment Mode</td>
                                    <td class="text-white bg-dark">Paid Date</td>
                                    @*<td class="text-white bg-dark">Adhar Card</td>*@
                                    <td class="text-white bg-dark">Due Date</td>
                                    @*<td class="text-white bg-dark">Receipt</td>*@
                                    @*<td class="text-white bg-dark">Flat Type</td>*@
                                    @*<td class="text-white bg-dark">Area</td>*@
                                    @*<td class="text-white bg-dark"></td>*@



                                </tr>
                            </thead>
                            <tbody> </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>