`
@{
    ViewBag.Title = "CorpusIndex";
}

@*<h2>CorpusIndex</h2>*@

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/CorpusFund.js"></script>


<section class="section">
    <center>
        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" align="left">Corpus Fund </h5>


                        <!-- Floating Labels Form -->

                        <form class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input id="hdnId" type="hidden" />
                                    <select type="text" class="form-control" id="txtFlatNo"></select>
                                    <label for="floatingFlat No">Flat No</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="txtAmount" placeholder="Complaint Title">
                                    <label for="floatingComplaint Title">Total Amount </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="txtPaidAmount" placeholder="Resolved By">
                                    <label for="floatingResolved By">Paid Amount</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="txtBalanceAmount" placeholder="Resolved By" disabled>
                                    <label for="floatingResolved By">Balance Amount</label>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" onclick="SaveCorpusFund()">SUBMIT</button>
                                <button type="reset" class="btn btn-warning">RESET</button>
                            </div>


                        </form><!-- End floating Labels Form -->
                    </div>

                </div>
            </div>
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <div class="table-responsive">
                            <div align="left">
                                <b> <span id="lblamount"></span></b><br />

                                <b> <span id="lblPaidamount"></span></b><br />

                                <b> <span id="lblBalanceamount"></span></b><br />
                                <br />
                            </div>


                            <table id="tblCorpusFund" class="table table-bordered table-hover">
                                <thead class="text-white bg-dark" align="center">
                                    <tr>

                                        @*<td class="text-white bg-dark">ID</td>*@
                                        <td class="text-white bg-dark">Flat No.</td>
                                        <td class="text-white bg-dark">Amount</td>
                                        <td class="text-white bg-dark">Paid Amount</td>
                                        <td class="text-white bg-dark">Balance Amount</td>


                                    </tr>
                                </thead>
                                <tbody align="center"> </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </center>


    @*@DetailPOPUP@*@


    <div id="CorpusFundModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container" id="DetailCorpusFund">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>



@*AutoFocus*@
<script>
    window.onload = function () {
        document.getElementById("txtFlatNo").focus();
    }

</script>

